<!DOCTYPE html>
<html lang="en">

<head>
    <meta charshet="UTF-8">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
        <title>Free Spirit travel</title>
        </head>

<body>
    {{{ body }}}



<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/trips.js"></script>
</body>

</html>