<!DOCTYPE html>
<html lang="en">

<head>
    <meta charshet="UTF-8">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
        <title>Free Spirit travel</title>
        </head>

<body>
    <header>Free Spirit Travel Collective
        <br>
        --above this is the header--
    </header>

    {{{ body }}}


    <footer>
        --below this is the footer--
        <br>
        <a href="/">Home</a>
    </footer>

<script src="https://code.jquery.com/jquery.js"></script>
{{!-- <script src="/assets/js/trips.js"></script> --}}
</body>

</html>