<!DOCTYPE html>
<html lang="en">

<head>
    <meta charshet="UTF-8">
    <title>Free Spirit travel</title>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Raleway|Roboto:900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bulma.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
</head>

<body>
    <header>Free Spirit Travel Collective
        <br>
    </header>

    {{{ body }}}


    <footer>
        --below this is the footer--
        <br>
        <a href="/">Home</a>
    </footer>

<script src="https://code.jquery.com/jquery.js"></script>
{{!-- <script src="/assets/js/trips.js"></script> --}}
</body>

</html>