<form action="/confirmation-trip" method="post">
    Trip name: <input type="text" name="title" value="Let's go">
    <br>
    Destination: <input type="text" name="destination" value="Alaska">
    <br>
    Start date: <input type="date" name="starting_date" min="2019-06-24" value="2020-01-01">
    <br>
    End date: <input type="date" name="end_date" max="2119-06-24" value="2020-01-20">
    <br>
    Duration: <input type="number" name="duration" value="20"> days
    <br>
    Primary language spoken in visiting country: <input type="text" name="primary_language" value="Spanish">
    <br>
    Travel philosophy for this trip: 
    <br>
    <textarea name="travel_philosophy" rows="5" cols="30" value="have fun">Philosophy </textarea>
    <br>
    Trip description (itinerary, can't-miss sights, lodging type, etc)
    <br>
    <textarea name="description" rows="5" cols="30" value="go to lots of cities">Go to lots of cities</textarea>
    <br>
    Budget per day: <input type="number" name="budget_day" min="1" value="200"> USD
    <br>
    Currency needed: <input type="text" name="currency" value="pesos">
    <br>
    Desired group size: <input type="number" name="group_size" min="1" value="4">
    <br>
    Your user id: <input type="number" name="creator_id" value="102">
    <br>
    <button type="submit" class="create-trip">Create Trip!</button>
</form>