<form action="/confirmation-trip" method="post">
    Trip name: <input type="text" name="tripName">
    <br>
    Destination: <input type="text" name="destination">
    <br>
    Start date: <input type="date" name="startDate" min="2019-06-24">
    <br>
    End date: <input type="date" name="endDate" max="2119-06-24">
    <br>
    Duration: <input type="number" name="duration"> days
    <br>
    Primary language spoken in visiting country: <input type="text" name="destLanguage">
    <br>
    Travel philosophy for this trip: 
    <br>
    <textarea name="philosophy" rows="5" cols="30"></textarea>
    <br>
    Trip description (itinerary, can't-miss sights, lodging type, etc)
    <br>
    <textarea name="description" rows="5" cols="30"></textarea>
    <br>
    Budget per day: <input type="number" name="budget" min="1"> USD
    <br>
    Currency needed: <input type="text" name="currency">
    <br>
    Desired group size: <input type="number" name="groupSize" min="1">
    <br>
    Your user id: <input type="number" name="authorId">
    <br>
    <button type="submit" class="create-trip">Create Trip!</button>
</form>