<div class="indexDiv">
    <div class="captionHeader">
        The Free Spirit Travel Collective
    </div>
    <div class="captionSubheader">
        Travel the world with other spirits.
    </div>
    
    <div class="indexButtons columns">
        <form action="/search" method="get" class="column">
            <button type="submit" class="go-search button indexButton is-fs-orange is-fullwidth">
                Find my next vacation
            </button>
        </form>

        <form action="/create-trip" method="get" class="column">
            <button type="submit" class="button indexButton is-fs-orange is-fullwidth">
                Create a Trip
            </button>
        </form>

        <form action="/create-profile" method="get" class="column">
            <button type="submit" class="button indexButton is-fs-orange is-fullwidth">
                Create a Profile
            </button>
        </form>
    </div>
</div>
   