The Freespirit Collective
<br>
Pretty pictures here
<br>
<form action="/search" method="get">
    <button type="submit" class="go-search">
        Find my next vacation
    </button>
</form>

<form action="/create-trip" method="get">
    <button type="submit">
        Create a Trip
    </button>
</form>

<form action="/create-profile" method="get">
    <button type="submit">
        Create a Profile
    </button>
</form>

<br>
    We should have a link to "my profile"?
    <br>
    <button type="submit">Doesn't do anything</button>