<div class="indexDiv">
    <div class="captionHeader">
        The Free Spirit Travel Collective
    </div>
    <div class="captionSubheader">
        Travel the world with other spirits.
    </div>
    
    <div class="indexButtons">
        <form action="/search" method="get">
            <button type="submit" class="go-search button indexButton">
                Find my next vacation
            </button>
        </form>

        <form action="/create-trip" method="get">
            <button type="submit" class="button indexButton">
                Create a Trip
            </button>
        </form>

        <form action="/create-profile" method="get">
            <button type="submit" class="button indexButton">
                Create a Profile
            </button>
        </form>
    </div>
</div>

<br>
    We should have a link to "my profile"?
    <br>
    <button type="submit">Doesn't do anything</button>