
<form action="/search-results" method="get" class="view">
    <h3>Trip Search</h3>
    <br>
    Destination: <input type="text" id="destination-box" name="destination"> 
    <br>
    Month/Year: 
    <input type="month" name="traveldate">
    <br>
    Primary language spoken at destination: <input type="text" name="language">
    <br>
    <button type= "submit" class="search-trips">
    Find existing trips
    </button>
</form>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/trips.js"></script>
