<form action="/search-results" method="get">
    <button type = "submit" class="search-trips">Find trips</button>
</form>

{{!-- {{> search-results}}  --


{{!-- {{> search-results results}}  --

{{!-- {{#each trips}}


 --}}