<form action="/search-results" method="get">
    Destination: <input type="text" name="destination"> 
    <br>
    Month/Year: 
    <input type="month" name="traveldate">
    <br>
    Primary language spoken at destination: <input type="text" name="language">
    <br>
    <button type= "submit" class="search-trips">
    Find existing trips
    </button>
</form>

