body, html {
  height: 100%;
  margin: 0;

}

header {
}

.bg {
  /* The image used */
  background-image: url("/assets/images/front.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(80%)
}

.indexDiv {
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 300%;
    transform: translateY(-15%)
}

.captionHeader {
    font-family: 'Caveat Brush', cursive;
    /* font-size: xx-large */
    font-size: 200%;
}

.captionSubtext {
    font-size: medium;
}

.indexButtons {
    margin-top: 20%;
}

.indexButtons form{
    display: inline;
}

