header {
    /* font-family: 'Roboto', sans-serif;
    font-weight: 800; */
    font-family: 'Caveat Brush', cursive;
    font-weight: 800;
    font-size: 36px;
    height: 100px;
    padding: 25px;
    /* background-color: #F4CC70; */
    color: #DE7A22;
    /* text-shadow: 2px 2px #DE7A22 */
    
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url(../images/drew-colins-1114443-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

html, body {
    height: 100%;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    font-optical-sizing: auto;
    
}

h3 {
    font-weight: bold;
    padding: 3px;
}

.create, .view {
    padding: 40px;
    background-color: white;
    width: 400px;
    /* margin: 10px; */
    position: fixed;
    left: 45px;
    top: 150px;
    border-radius: 8px;
}

.individual {
    padding: 40px;
    background-color: white;
    width: 50%;
    margin: auto;
    /* margin: 10px; */
    border-radius: 8px;
}

footer {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* background-color: #20948b; */
    padding: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    /* color: #F4CC70; */
}

a:link, a:visited {
    color: white;
}

a:hover, a:active {
    color: #F4CC70;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
}

button { 
    background-color: #DE7A22;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    outline-color: white;
}

/* New Classes for use with other bulma elements */

    .button.is-fs-orange {
        background-color: #DE7A22;
        border-color: transparent;
        color: #fff;
    }
    
    .button.is-fs-orange:hover, .button.is-fs-orange.is-hovered {
        background-color: #e9842b;
        border-color: transparent;
        color: #fff;
    }
    
    .button.is-fs-orange:focus, .button.is-fs-orange.is-focused {
        border-color: transparent;
        color: #fff;
    }
    
    .button.is-fs-orange:focus:not(:active), .button.is-fs-orange.is-focused:not(:active) {
        box-shadow: 0 0 0 0.125em rgba(222, 122, 34, 0.25);
    }
    
    .button.is-fs-orange:active, .button.is-fs-orange.is-active {
        background-color: #DE7A22;
        border-color: transparent;
        color: #fff;
    }
    
    .button.is-fs-orange[disabled],
    fieldset[disabled] .button.is-fs-orange {
        background-color: #e9842b;
        border-color: transparent;
        box-shadow: none;
    }
    
    .button.is-fs-orange.is-inverted {
        background-color: #fff;
        color: #e9842b;
    }
    
    .button.is-fs-orange.is-inverted:hover, .button.is-fs-orange.is-inverted.is-hovered {
        background-color: #f2f2f2;
    }
    
    .button.is-fs-orange.is-inverted[disabled],
    fieldset[disabled] .button.is-fs-orange.is-inverted {
        background-color: #fff;
        border-color: transparent;
        box-shadow: none;
        color: #e9842b;
    }
    
    .button.is-fs-orange.is-loading::after {
        border-color: transparent transparent #fff #fff !important;
    }
    
    .button.is-fs-orange.is-outlined {
        background-color: transparent;
        border-color: #e9842b;
        color: #e9842b;
    }
    
    .button.is-fs-orange.is-outlined:hover, .button.is-fs-orange.is-outlined.is-hovered, .button.is-fs-orange.is-outlined:focus, .button.is-fs-orange.is-outlined.is-focused {
        background-color: #e9842b;
        border-color: #e9842b;
        color: #fff;
    }
    
    .button.is-fs-orange.is-outlined.is-loading::after {
        border-color: transparent transparent #e9842b #e9842b !important;
    }
    
    .button.is-fs-orange.is-outlined.is-loading:hover::after, .button.is-fs-orange.is-outlined.is-loading.is-hovered::after, .button.is-fs-orange.is-outlined.is-loading:focus::after, .button.is-fs-orange.is-outlined.is-loading.is-focused::after {
        border-color: transparent transparent #fff #fff !important;
    }
    
    .button.is-fs-orange.is-outlined[disabled],
    fieldset[disabled] .button.is-fs-orange.is-outlined {
        background-color: transparent;
        border-color: #e9842b;
        box-shadow: none;
        color: #e9842b;
    }
    
    .button.is-fs-orange.is-inverted.is-outlined {
        background-color: transparent;
        border-color: #fff;
        color: #fff;
    }
    
    .button.is-fs-orange.is-inverted.is-outlined:hover, .button.is-fs-orange.is-inverted.is-outlined.is-hovered, .button.is-fs-orange.is-inverted.is-outlined:focus, .button.is-fs-orange.is-inverted.is-outlined.is-focused {
        background-color: #fff;
        color: #e9842b;
    }
    
    .button.is-fs-orange.is-inverted.is-outlined.is-loading:hover::after, .button.is-fs-orange.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-fs-orange.is-inverted.is-outlined.is-loading:focus::after, .button.is-fs-orange.is-inverted.is-outlined.is-loading.is-focused::after {
        border-color: transparent transparent #e9842b #e9842b !important;
    }
    
    .button.is-fs-orange.is-inverted.is-outlined[disabled],
    fieldset[disabled] .button.is-fs-orange.is-inverted.is-outlined {
        background-color: transparent;
        border-color: #fff;
        box-shadow: none;
        color: #fff;
    }

    .notification.is-fs-orange {
        background-color: #e9842b;
        color: #fff;
    }

    .progress.is-fs-orange::-webkit-progress-value {
        background-color: #e9842b;
    }
    
    .progress.is-fs-orange::-moz-progress-bar {
        background-color: #e9842b;
    }
    
    .progress.is-fs-orange::-ms-fill {
        background-color: #e9842b;
    }
    
    .progress.is-fs-orange:indeterminate {
        background-image: linear-gradient(to right, #e9842b 30%, #dbdbdb 30%);
    }

    .table td.is-fs-orange,
    .table th.is-fs-orange {
    background-color: #e9842b;
    border-color: #e9842b;
    color: #fff;
    }

    .tag:not(body).is-fs-orange {
        background-color: #e9842b;
        color: #fff;
    }

    .is-fs-orange.input, .is-fs-orange.textarea {
    border-color: #e9842b;
    }

    .is-fs-orange.input:focus, .is-fs-orange.textarea:focus, .is-fs-orange.is-focused.input, .is-fs-orange.is-focused.textarea, .is-fs-orange.input:active, .is-fs-orange.textarea:active, .is-fs-orange.is-active.input, .is-fs-orange.is-active.textarea {
    box-shadow: 0 0 0 0.125em rgba(222, 122, 34, 0.25);
    }

    .select.is-fs-orange:not(:hover)::after {
    border-color: #e9842b;
    }

    .select.is-fs-orange select {
    border-color: #e9842b;
    }

    .select.is-fs-orange select:hover, .select.is-fs-orange select.is-hovered {
    border-color: #DE7A22;
    }

    .select.is-fs-orange select:focus, .select.is-fs-orange select.is-focused, .select.is-fs-orange select:active, .select.is-fs-orange select.is-active {
    box-shadow: 0 0 0 0.125em rgba(222, 122, 34, 0.25);
    }

    .file.is-fs-orange .file-cta {
    background-color: #e9842b;
    border-color: transparent;
    color: #fff;
    }

    .file.is-fs-orange:hover .file-cta, .file.is-fs-orange.is-hovered .file-cta {
    background-color: #e9842b;
    border-color: transparent;
    color: #fff;
    }

    .file.is-fs-orange:focus .file-cta, .file.is-fs-orange.is-focused .file-cta {
    border-color: transparent;
    box-shadow: 0 0 0.5em rgba(222, 122, 34, 0.25);
    color: #fff;
    }

    .file.is-fs-orange:active .file-cta, .file.is-fs-orange.is-active .file-cta {
    background-color: #DE7A22;
    border-color: transparent;
    color: #fff;
    }

    .help.is-fs-orange {
    color: #e9842b;
    }

    .message.is-fs-orange {
    background-color: #f5fffd;
    }

    .message.is-fs-orange .message-header {
    background-color: #e9842b;
    color: #fff;
    }

    .message.is-fs-orange .message-body {
    border-color: #e9842b;
    color: #021310;
    }


    .navbar.is-fs-orange {
    background-color: #e9842b;
    color: #fff;
    }

    .navbar.is-fs-orange .navbar-brand > .navbar-item,
    .navbar.is-fs-orange .navbar-brand .navbar-link {
    color: #fff;
    }

    .navbar.is-fs-orange .navbar-brand > a.navbar-item:focus, .navbar.is-fs-orange .navbar-brand > a.navbar-item:hover, .navbar.is-fs-orange .navbar-brand > a.navbar-item.is-active,
    .navbar.is-fs-orange .navbar-brand .navbar-link:focus,
    .navbar.is-fs-orange .navbar-brand .navbar-link:hover,
    .navbar.is-fs-orange .navbar-brand .navbar-link.is-active {
    background-color: #DE7A22;
    color: #fff;
    }

    .navbar.is-fs-orange .navbar-brand .navbar-link::after {
    border-color: #fff;
    }

    .navbar.is-fs-orange .navbar-burger {
    color: #fff;
    }

    @media screen and (min-width: 1024px) {
    .navbar.is-fs-orange .navbar-start > .navbar-item,
    .navbar.is-fs-orange .navbar-start .navbar-link,
    .navbar.is-fs-orange .navbar-end > .navbar-item,
    .navbar.is-fs-orange .navbar-end .navbar-link {
        color: #fff;
    }
    .navbar.is-fs-orange .navbar-start > a.navbar-item:focus, .navbar.is-fs-orange .navbar-start > a.navbar-item:hover, .navbar.is-fs-orange .navbar-start > a.navbar-item.is-active,
    .navbar.is-fs-orange .navbar-start .navbar-link:focus,
    .navbar.is-fs-orange .navbar-start .navbar-link:hover,
    .navbar.is-fs-orange .navbar-start .navbar-link.is-active,
    .navbar.is-fs-orange .navbar-end > a.navbar-item:focus,
    .navbar.is-fs-orange .navbar-end > a.navbar-item:hover,
    .navbar.is-fs-orange .navbar-end > a.navbar-item.is-active,
    .navbar.is-fs-orange .navbar-end .navbar-link:focus,
    .navbar.is-fs-orange .navbar-end .navbar-link:hover,
    .navbar.is-fs-orange .navbar-end .navbar-link.is-active {
        background-color: #DE7A22;
        color: #fff;
    }
    .navbar.is-fs-orange .navbar-start .navbar-link::after,
    .navbar.is-fs-orange .navbar-end .navbar-link::after {
        border-color: #fff;
    }
    .navbar.is-fs-orange .navbar-item.has-dropdown:focus .navbar-link,
    .navbar.is-fs-orange .navbar-item.has-dropdown:hover .navbar-link,
    .navbar.is-fs-orange .navbar-item.has-dropdown.is-active .navbar-link {
        background-color: #DE7A22;
        color: #fff;
    }
    .navbar.is-fs-orange .navbar-dropdown a.navbar-item.is-active {
        background-color: #e9842b;
        color: #fff;
    }
    }

    .hero.is-fs-orange {
    background-color: #e9842b;
    color: #fff;
    }

    .hero.is-fs-orange a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
    .hero.is-fs-orange strong {
    color: inherit;
    }

    .hero.is-fs-orange .title {
    color: #fff;
    }

    .hero.is-fs-orange .subtitle {
    color: rgba(255, 255, 255, 0.9);
    }

    .hero.is-fs-orange .subtitle a:not(.button),
    .hero.is-fs-orange .subtitle strong {
    color: #fff;
    }

    @media screen and (max-width: 1023px) {
    .hero.is-fs-orange .navbar-menu {
        background-color: #e9842b;
    }
    }

    .hero.is-fs-orange .navbar-item,
    .hero.is-fs-orange .navbar-link {
    color: rgba(255, 255, 255, 0.7);
    }

    .hero.is-fs-orange a.navbar-item:hover, .hero.is-fs-orange a.navbar-item.is-active,
    .hero.is-fs-orange .navbar-link:hover,
    .hero.is-fs-orange .navbar-link.is-active {
    background-color: #DE7A22;
    color: #fff;
    }

    .hero.is-fs-orange .tabs a {
    color: #fff;
    opacity: 0.9;
    }

    .hero.is-fs-orange .tabs a:hover {
    opacity: 1;
    }

    .hero.is-fs-orange .tabs li.is-active a {
    opacity: 1;
    }

    .hero.is-fs-orange .tabs.is-boxed a, .hero.is-fs-orange .tabs.is-toggle a {
    color: #fff;
    }

    .hero.is-fs-orange .tabs.is-boxed a:hover, .hero.is-fs-orange .tabs.is-toggle a:hover {
    background-color: rgba(10, 10, 10, 0.1);
    }

    .hero.is-fs-orange .tabs.is-boxed li.is-active a, .hero.is-fs-orange .tabs.is-boxed li.is-active a:hover, .hero.is-fs-orange .tabs.is-toggle li.is-active a, .hero.is-fs-orange .tabs.is-toggle li.is-active a:hover {
    background-color: #fff;
    border-color: #fff;
    color: #e9842b;
    }

    .hero.is-fs-orange.is-bold {
    background-image: linear-gradient(141deg, #de7a22 0%, #e9842b 71%, #ff9232 100%);
    }

    @media screen and (max-width: 768px) {
    .hero.is-fs-orange.is-bold .navbar-menu {
        background-image: linear-gradient(141deg, #de7a22 0%, #e9842b 71%, #ff9232 100%);
    }
    }